name: Build and push container image

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: akiraohgaki/actions/buildah-build-push@main
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: docker.io
          image: ${{ secrets.DOCKER_REPOSITORY }}
